<div class="row">
    <div class="col-lg-10">
        <h1>Manage User an Contact</h1>  
    </div>
    <div class="col-lg-2">
        <button ng-click="addUser()" class="btn btn-success btn-lg">
            <i class="glyphicon glyphicon-plus"></i> Add User
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-3" style="border:1px solid #999; overflow-y:hidden">
        <!-- Search Users -->
        <h3>Search User</h3>
        <div class="input-group">
            <input type="text"
                   ng-model="searchText"
                   class="form-control"
                   placeholder="Enter search text">
            <span class="input-group-addon" id="basic-addon1">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
        
        <div class="col-lg-12 User-row animate" ng-repeat="User in Users">
            <as-User></as-User>
        </div>
    </div>
    <div class="col-lg-9" style="border:1px solid #999; overflow-y:auto">
        <div ui-view></div>
    </div>
</div>